

/*New gry */
ul#breadcrumbs-fx{
    margin: 0;
    padding: 0;
    list-style: none;
}
#breadcrumbs-fx{
    background: #eee;
    border-width: 1px;
    border-style: solid;
    border-color: #f5f5f5 #e5e5e5 #ccc;
    border-radius: 5px;
    box-shadow: 0 0 2px rgba(0,0,0,.2);
    overflow: hidden;
    width: 100%;
}

#breadcrumbs-fx li{
    float: left;
}

#breadcrumbs-fx a{
    padding: 0em 1em 0em 2em;
    float: left;
    text-decoration: none;
    color: #5d5c5c;
    position: relative;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    background-color: #F9F9F9;
    -webkit-transition: all 0ms ease-out;
    -moz-transition: all 0ms ease-out;
    -o-transition: all 0ms ease-out;
    -ms-transition: all 0ms ease-out;
    transition: all 0ms ease-out;
}

#breadcrumbs-fx li:first-child a{
    padding-left: 1em;
    border-radius: 5px 0 0 5px;
}

#breadcrumbs-fx a:hover{
    background: #005715;
    background-image: linear-gradient(to right, #080808, #005715);
    color: #ffffff;
}

#breadcrumbs-fx a::after,
#breadcrumbs-fx a::before{
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -1.5em;
    border-top: 1.5em solid transparent;
    border-bottom: 1.5em solid transparent;
    border-left: 1em solid;
    right: -1em;
}

#breadcrumbs-fx a::after{
    z-index: 2;
    border-left-color: #F9F9F9;
}

#breadcrumbs-fx a::before{
    border-left-color: #54A968;
    right: -1.1em;
    z-index: 1;
}

#breadcrumbs-fx a:hover::after{
    border-left-color: #005715;
}

#breadcrumbs-fx .current,
#breadcrumbs-fx .current:hover{
    font-weight: bold;
    background: none;
    color: #000000;
}

#breadcrumbs-fx .current::after,
#breadcrumbs-fx .current::before{
    content: normal;
}
